<h1>Here are all our restaurants:</h1>
<div class="container d-flex col-6 offset-3 flex-wrap flex-row">
  <% @restaurants.each do |restaurant| %>
  <div class="card">
    <h2><%= restaurant.name %></h2>
      <p><%= link_to "See details", restaurant_path(restaurant), class: "btn btn-primary"%></p>
  </div>
  <% end %>
</div>
